html:not(.responsive) {
  width: 100%; /* viewport */
}
/*=============================================
 * body
 *=============================================*/
body {
	background-color: #fff;
	color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
	text-align: left;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
  min-width: inherit;
  min-height: inherit;
  max-height: 100%;
}
@media screen and (max-width: 890px) {
  .wrap {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.navOpen #pagetop {
  opacity: 0;
}
.txt-center {
  text-align: center;
}
a {
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
a:hover {
  text-decoration: none;
	opacity: 0.7;
}
.error-404 {
  padding: 100px 0;
}
.error404 h2 {
  line-height: 1.2;
}
.inl_block {
  display: inline-block;
}

body.navOpen, body.navOpen *, body.navOpen *:hover, body.navOpen *:focus, body.navOpen *:active {
  /*    cursor: none !important;*/
  touch-action: none ;
  pointer-events: none ;
}
body.navOpen .hamburger, body.navOpen #navigation, body.navOpen #navigation * {
  touch-action: auto !important;
  pointer-events: visible !important;
}
.navOpen {
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch !important;
  touch-action: none !important;
  pointer-events: none !important;
}
@media screen and (min-width: 768px) {

	.navOpen {
		touch-action: auto !important;
  pointer-events: visible !important;
	}
}
/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/
.fnt-mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.fnt-meiryo {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.fnt-gothic {
  /*font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
}
.fnt-source-han-sans, .fnt-jp {
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 200;
}
/* Syntax: font format */
@font-face {
  font-family: gohamL;
  src: url("../font/Gotham-XLight.otf");
}
@font-face {
  font-family: gohamB;
  src: url("../font/Gotham-Bold.otf");
}
@font-face {
  font-family: gohamBook;
  src: url("../font/GothamBook.ttf");
}
@font-face {
  font-family: gohamM;
  src: url("../font/GothamMedium_1.ttf");
}
.fnt-gohamBook {
  font-family: gohamBook;
  font-weight: normal;
}
.fnt-gohamM {
  font-family: gohamM;
  font-weight: normal;
}
.fnt-gohamB {
  font-family: gohamB;
  font-weight: normal;
}
.fnt-gohamL {
  font-family: gohamL;
  font-weight: normal;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.object-fit-cover {}
.object-fit-cover {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  width: 100% !important;
}
@media screen and (max-width: 1100px) {
.pc_ipad {
display: none;
}
}
/*=============================================
 * .fnt - customs
 *=============================================*/
/*=============================================
 * <main>
 *=============================================*/
main {
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/*=============================================
 * <header>
 *=============================================*/
header {}
header h1 {}
header .logo {}
header .tel {}
header nav {}
/*=============================================
 * key
 *=============================================*/
/*=============================================
 * <section>
 *=============================================*/
section {}
/*=============================================
 * <footer>
 *=============================================*/
footer {
  text-align: center;
  line-height: 18px;
}
footer .logo {}
footer .tel {}
footer nav {}
#social {
  padding-bottom: 20px;
  letter-spacing: 0;
  font-size: 0;
  line-height: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}
#social li {
  position: relative;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
@media screen and (max-width: 767px) {
  #social {
    padding-bottom: 15px;
  }
}
#social li img {
  width: 100%;
  height: auto;
}
#social li {
  width: 36px;
  margin-left: 3px;
}
#social > div {
  margin: 0 3px;
}
#social .fb-like > span {
  width: 100px !important;
}
#social .fb-like > span iframe {
  left: -15px;
}
.fb-like.fb_iframe_widget > span {
  display: block;
  vertical-align: baseline !important;
}
.fb-page, .fb-page span, .fb-page span iframe[style] {
  max-width: 100% !important;
}
/*
.socialbuttons .social-facebook   {
	    width: 93px !important;
    overflow: hidden;

}
.socialbuttons .fb_iframe_widget iframe {
	left: -67px;
}
*/
/*=============================================
 * .socialbuttons
 *=============================================*/
footer address {}
/*=============================================
 * copyright
 *=============================================*/
address {}
@media screen and (min-width: 769px) {
  .pc_view {
    display: block;
  }
}
.hamburger-btn {
  cursor: pointer;
  width: 70px !important;
  height: 70px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 105;
  line-height: 1;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0em;
}
.hamburger-btn i {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.hamburger-btn span {
  line-height: 1;
  background-color: #000;
  border-radius: 3px;
  height: 3px;
  width: 30px;
  position: absolute;
  top: 34px;
  left: calc(50% - 15px);
  display: block;
  -webkit-transition: all .45s ease 0s;
  transition: all .45s ease 0s;
}
.hamburger-btn:before {
  content: '';
  position: absolute;
  width: 30px;
  top: 25px;
  left: calc(50% - 15px);
  background-color: #000;
  height: 3px;
  border-radius: 3px;
  -webkit-transition: all .45s ease 0s;
  transition: all .45s ease 0s;
}
.hamburger-btn:after {
  content: '';
  position: absolute;
  width: 30px;
  top: 43px;
  border-radius: 3px;
  left: calc(50% - 15px);
  background-color: #000;
  height: 3px;
  -webkit-transition: all .45s ease 0s;
  transition: all .45s ease 0s;
}
.hamburger-btn.is-active:before {
  transform: rotate(-45deg);
  width: 28px;
  top: 35px;
  left: 21px;
}
.hamburger-btn.is-active:after {
  transform: rotate(45deg);
  width: 28px;
  top: 35px;
  left: 21px;
}
.hamburger-btn.is-active span {
  opacity: 0;
  left: 64px;
}
.hamburger-btn span:last-child {
  font-size: 11px;
  display: none !important;
  opacity: 1 !important;
  top: 13px;
  transform: none;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
}
.fc-form [class^='error'] {
  position: static !important;
}
.i-custom {
  cursor: pointer;
  display: block;
  position: relative;
  line-height: 50px;
  margin-bottom: 40px;
}
.i-custom + .i-custom {}
.i-custom input {
  opacity: 0;
  position: absolute;
}
.i-custom .ico {
  padding-left: 60px;
  position: relative;
  display: inline-block;
}
.i-custom .ico:before, .i-custom .ico:after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all .3s ease;
}
.i-custom input[type="radio"] .ico:before, .i-custom input[type="radio"] .ico:after {
  border-radius: 100%;
}
.i-custom .ico:before {
  width: 50px;
  height: 50px;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
}
.i-custom .ico:after {
  background: url(../img/shared/check.png) no-repeat 0 0;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 16px;
  height: 15px;
  margin: 0;
  position: absolute;
  top: 17px;
  left: 17px;
  opacity: 0;
}
.i-custom:hover .ico:after {
  opacity: .5;
  transform: scale(1);
}
.i-custom input:checked ~ .ico:after {
  opacity: 1;
  transform: scale(1);
}
@media screen and (max-width: 767px) {
  .i-custom .ico {
    padding-left: 51px;
  }
  .i-custom .ico:before {
    width: 36px;
    height: 36px;
  }
  .i-custom {
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .i-custom .ico:after {
    width: 12px;
    top: 12px;
    left: 12px;
  }
}
@-webkit-keyframes fadeInZoom {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeInZoom {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 767px) {
  @-webkit-keyframes fadeInZoom {
    0% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes fadeInZoom {
    0% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
}
.fadeInZoom {
  -webkit-animation-name: fadeInZoom;
  animation-name: fadeInZoom;
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}
