@charset "euc-jp";

#header_logo{
	margin:1em auto;
	background: url(../images/header_login.gif)  top left no-repeat;
	width: 600px;
	height: 66px;

}

#header_logo h1{
	display: block;
	text-indent: -9999px;
	background-position: top left;
	width: 600px;
	height: 50px;
	text-decoration: none;
	overflow: hidden;
}

